<a href="https://colab.research.google.com/github/Nur-A-Alam1997/task/blob/master/django.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import shutil

shutil.rmtree("/content/minimal-django/static_files")

In [37]:
!git clone https://github.com/rnevius/minimal-django.git

Cloning into 'minimal-django'...
remote: Enumerating objects: 20, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 20 (delta 0), reused 1 (delta 0), pack-reused 17
Unpacking objects: 100% (20/20), done.

In [38]:
%cd minimal-django/

/content/minimal-django

In [39]:
!mkdir static templates

In [40]:
%%writefile templates/temp.html
{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href='{%static "temp.css" %}'>
</head>
<body>

<h1>This is a Heading</h1>

<img src="{%static 'favicon.ico' %}" alt="">

<p>This is a paragraph.</p>

</body>
</html>

Writing templates/temp.html

In [41]:
%%writefile static/temp.css


h1{
    color:red;
}

Writing static/temp.css

In [42]:
import os
import urllib.request
urllib.request.urlretrieve('https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png',
                           'static/favicon.ico')

('static/favicon.ico', <http.client.HTTPMessage at 0x7f67fb9f7090>)

In [43]:
!pwd

/content/minimal-django

In [44]:
!pip install django

Collecting django
  Downloading Django-3.2.9-py3-none-any.whl (7.9 MB)
     |████████████████████████████████| 7.9 MB 26.6 MB/s
Collecting asgiref<4,>=3.3.2
  Downloading asgiref-3.4.1-py3-none-any.whl (25 kB)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from django) (2018.9)
Requirement already satisfied: sqlparse>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from django) (0.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from asgiref<4,>=3.3.2->django) (3.10.0.2)
Installing collected packages: asgiref, django
Successfully installed asgiref-3.4.1 django-3.2.9

In [ ]:
!django-admin startproject ProjectName

In [ ]:
%cd ProjectName/

/content/ProjectName

In [71]:
%%writefile minimal.py
import sys, os

from pathlib import Path

from django.conf import settings

from django.urls import path, resolve, Resolver404

from django.core.management import execute_from_command_line

from django.http import HttpResponse

from django.shortcuts import render

BASE_DIR = Path(__file__).resolve().parent.parent
# PROJECT_DIR = os.path.dirname(__file__)
# print("hi",BASE_DIR,PROJECT_DIR)




# MEDIA_URL = '/media/'
# MEDIA_ROOT = os.path.join(BASE_DIR, 'media')


settings.configure(

    DEBUG=True,

    ROOT_URLCONF=sys.modules[__name__],

    ALLOWED_HOSTS = ['colab.research.google.com'],

    SECRET_KEY='asecretkey',

    STATIC_URL = '/static/',
    STATICFILES_DIRS = [
        BASE_DIR/'minimal-django/static'
    ],
    INSTALLED_APPS = [
    'django.contrib.staticfiles',
    ],

    TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [
            './templates/'
        ],
    },
    ],
    DATABASES = {

    'default': {

        'ENGINE': 'django.db.backends.postgresql_psycopg2',

        'NAME': "ole",

        'USER': 'postgres',

        'PASSWORD': 'postgres',

        'HOST': 'localhost',

        'PORT': '5432',

    }

    }

)


def home(request):

    return HttpResponse("""
    <link rel="icon" href="static/favicon.ico">
    <h1> Home!</h1>
    """)

def index(request):

    return HttpResponse(
    """
    <link rel="icon" href="static/favicon.ico">
    <img src='static/favicon.ico' alt="">
    <h1>A minimal fucking Django response!</h1>
    """)

def fuck(request):
    return render(request, 'temp.html')

    # return HttpResponse('<h1> fucking Django response!</h1>')
def okay(request):
    return HttpResponse('pretend-binary-data-here', content_type='image/jpeg')


def test(request):
    import pandas as pd
    import psycopg2

    connection = psycopg2.connect(host = 'localhost',
                            user = 'postgres',
                            password = 'postgres',
                            database = 'ole',
                            port = 5432)

    df = pd.read_sql('select * from customer', connection)
    print(df['email'])

    return HttpResponse(df['email'])


urlpatterns = [

    path(r'', home),
    path(r'admin/', index),
    path(r'fuck/', fuck),
    path(r'test/', test),
    path('favicon.ico', okay),    

]



if __name__ == '__main__':

    execute_from_command_line(sys.argv)

Overwriting minimal.py

In [ ]:
with open("/content/minimal-django/minimal.py") as page:
    for line in page:
        print(line)

In [ ]:
with open("/content/ProjectName/ProjectName/settings.py") as page:
    f = open("settings.py", "w")
    for line in page:
        if "ALLOWED_HOSTS" in line:
            f.write("ALLOWED_HOSTS = ['colab.research.google.com']")
        else:
            f.write(line)
    f.close()

# ALLOWED_HOSTS = ['colab.research.google.com']

In [ ]:
!mv  settings.py ProjectName

In [47]:
from google.colab.output import eval_js
print(eval_js("google.colab.kernel.proxyPort(4000)"))

https://9ou24p4xqde-496ff2e9c6d22116-4000-colab.googleusercontent.com/

In [ ]:
!python minimal.py runserver 4000

In [ ]:
import shutil
shutil.make_archive('/content/minimal-django', 'zip', '/content/minimal-django')

'/content/minimal-django.zip'

In [1]:
!sudo apt-get -y -qq update

In [ ]:
!sudo apt-get -y -qq install postgresql

In [111]:
!sudo service postgresql start
# !sudo service postgresql stop

 * Starting PostgreSQL 10 database server
   ...done.

In [105]:
# backup file
!pg_dump -U postgres -h localhost -p 5432 ole > ole.db

Password:

In [115]:
# restore
# !pg_restore -d ole -U postgres -h localhost -C backup.dump

fatal: could not read Username for 'https://github.com': No such device or address

In [5]:
!sudo -u postgres psql -U postgres -c "ALTER user postgres password 'postgres'"

ALTER ROLE

In [ ]:
!sudo -u postgres psql

In [7]:
!sudo -u postgres psql -U postgres -c "CREATE database OLE"

CREATE DATABASE

In [ ]:
!sudo -u postgres psql -U postgres -c ""

In [34]:



f = open("settings.sql", "w")
f.write("""
CREATE TABLE AirQualityUCI (
  Date DATE,
  Time TIME,
  CO REAL,
  PT08S1 INT,
  NMHC REAL,
  C6H6 REAL,
  PT08S2 INT,
  NOx REAL,
  PT08S3 INT,
  NO2 REAL,
  PT08S4 INT,
  PT08S5 INT,
  T REAL,
  RH REAL,
  AH REAL
);
""")
f.close()

In [35]:
!PGPASSWORD=postgres psql -q -h localhost -p 5432 -U postgres -d ole -f settings.sql

psql:settings.sql:18: ERROR:  relation "airqualityuci" already exists

In [8]:
import psycopg2

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [112]:
connection = psycopg2.connect(host = 'localhost',
                            user = 'postgres',
                            password = 'postgres',
                            database = 'ole',
                            port = 5432)

In [77]:
cursor = connection.cursor()

In [78]:
query = "select * from customer"

In [79]:
cursor.execute(query)

In [80]:
models = cursor.fetchall()

In [81]:
models

[(12345,
  'Audhi                                             ',
  'Indonesia                                                                                           ',
  'myemail@gmail.com                                 ',
  '+621234567          '),
 (56789,
  'Aprilliant                                        ',
  'Japan                                                                                               ',
  'email@gmail.com                                   ',
  '+6213579246         ')]

pg_dump: [archiver (db)] connection to database "ole" failed: FATAL:  role "root" does not exist

In [11]:
cur = connection.cursor()
cur.execute("""
CREATE TABLE if not exists customer (
customer_id INT PRIMARY KEY NOT NULL,
name CHAR(50) NOT NULL,
address CHAR(100),
email CHAR(50),
phone_number CHAR(20));
""")
print('Table created in PostgreSQL')
connection.commit()
# connection.close()

Table created in PostgreSQL

In [12]:
cur = connection.cursor()
cur.execute("""
INSERT INTO customer (customer_id,name,address,email,phone_number)
VALUES (12345,'Audhi','Indonesia','myemail@gmail.com','+621234567');
""")
cur.execute("""
INSERT INTO customer (customer_id,name,address,email,phone_number)
VALUES (56789,'Aprilliant','Japan','email@gmail.com','+6213579246');
""")
connection.commit()
# connection.close()

In [110]:
cursor.execute("ROLLBACK")

InterfaceError: ignored

In [16]:
cur = connection.cursor()
cur.execute("""
SELECT customer_id,name,email FROM customer LIMIT 5;
""")
print('Read table in PostgreSQL')
# Close the connection
print(cur.fetchall())

connection.commit()

Read table in PostgreSQL
[(12345, 'Audhi                                             ', 'myemail@gmail.com                                 '), (56789, 'Aprilliant                                        ', 'email@gmail.com                                   ')]

In [113]:
import pandas as pd


df = pd.read_sql('select * from customer', connection)
df

   customer_id  ...          phone_number
0        12345  ...  +621234567
1        56789  ...  +6213579246

[2 rows x 5 columns]